<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/user-page.css" />
    <link rel="stylesheet" href="../../assets/css/product-list.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
      integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg="
      crossorigin="anonymous"
    ></script>
    <title>Nut Milks</title>

    <style>
        .flex-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          /* background-color: DodgerBlue;  */
        }
        
        .flex-container > div {
          /* background-color: #f1f1f1; */
          width: 100%;
          /* margin: 10px; */
          text-align: center;
          /* line-height: 75px; */
          /* font-size: 30px; */
        }
        </style>

  </head>
  <body>

        <nav>
        <div class="nav_sidebar">
            <ul>
            <li><a href="#">Milks</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">User</a></li>
            </ul>
        </div>
        <ul>
            <li class="nav_menu"><span>&#9776;</span></li>
            <li><a href="#">Milks</a></li>
            <li><a href="#">About Us</a></li>
            <li class="nav_home"><a href="#">Fronks</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">User</a></li>
        </ul>
        </nav>
        </div>  

    <!-- <div class="topbar">
      <div class="search_bar">
        <div class="search_box"></div>
        <div class="search_button"></div>
      </div>
      <select name="sort" id="sort">
        <option value="name_up">Name Stonk</option>
        <option value="name_down">Name Stink</option>
        <option value="price_up">Price Stonk</option>
        <option value="price_dowm">Price Stink</option>
      </select>
    </div> -->
    <!-- <div class="container"></div>

    <!-- The Modal -->
    <!-- <div id="myModal" class="modal"> -->
      <!-- Modal content -->
      <!-- <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-content"></div> -->
      <!-- </div> -->
        <div class="flex-container">
            <div>FIND US</div>
            <div>GET IT DELIVERED </div>
            <div>Farmhouse Delivery (Austin, San Antonio, Houston, Dallas)</div>
            <div>Prep To Your Door (Austin, Houston)</div>
            <div>MilkRun (Austin)</div>
            <div>Good Apple Foods (Austin)
            </div>
            <div>PICK UP A BOTTLE</div>
            <div>Mañana @ South Congress Hotel </div>
            <div>Rabbit Food Grocery </div>
            <div>
                Tiny Grocer
            </div>
            <div>
                Greater Goods, East 5th & Bee Caves
            </div>   
            <div>
                Raw Republic (Austin location)
            </div>   
            <div>
                ORDER A FRONKS LATTE
            </div>   
            <div>
                 June's All Day
                </div>   
                <div>
                Josephine House
            </div>   
            <div>
                Tiny Grocer
            </div>   
            <div>
                3rd Eye Lounge and Elixir Bar @ Casa De Luz
            </div>  
            <div>
                Greater Goods, East 5th & Bee Caves
            </div>  
            <div>
                Alfred @ The Line Austin
            </div>  
            <div>
                Skull & Cakebones
            </div>   
            <div>
                Swedish Hill
            </div>   
            <div>
                The Meteor
            </div>   
            <div>
                The Wayback
            </div>   
            <div>
                Mañana @ South Congress Hotel 
            </div>   
                

        </div>
        
    
    <!-- <script src="../../assets/js/product-list.js"></script>
    <script src="../../assets/js/user-page.js"></script> -->
  </body>
</html>
