html,
body {
  height: 100%;
}

.container {
  margin-top: 5rem;
  padding: 0 2rem;
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.preview {
  flex: 0 1 35%;
  /* background-color: aqua; */
}

.preview-default {
  background-color: #fff;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .preview {
    display: none;
  }
}
.cart_table {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  padding: 0 1rem;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.table_container {
  flex: 1;
  border-bottom: #000 1px solid;
}

.total_row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 3rem auto;
}

#order,
#confirm {
  padding: 0.5rem 3rem;
  border: none;
  background-color: hsl(207, 73%, 60%);
  font-weight: 700;
  color: #fff;
  transition: 0.2s background-color ease-in-out, 0.2s transform ease-in-out;
  cursor: pointer;
}

#confirm:hover,
#order:hover {
  background-color: hsl(207, 73%, 50%);
}

#confirm:active {
  transform: scale(1.05);
}

table.table tbody tr:hover {
  background: #eee;
  cursor: pointer;
}

table {
  width: 100%;
  margin-bottom: auto;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
}

tbody tr:hover {
  background-color: hsl(0, 0%, 84%);
  cursor: pointer;
}

tfoot {
  border-top: 1px solid black;
}

.modal-content {
  pointer-events: all;
}

.modal .item:hover {
  transform: rotateX(0);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}
